/fpabakus/
/fpabonnent/
/ftkalkulus/
/fpfordel/
/fpformidling/
/fpdokgen/
/fpinfo/
/fpinfo-historikk/
/fplos/
/fpoppdrag/
/fprisk/
/fpsak/
/fpsak-frontend/
/fpsak-redis/
/fpsoknad-mottak/
/fpsoknad-oppslag/
/fptilbake/
/foreldrepengeoversikt/
/foreldrepengeplanlegger/
/foreldrepenger-inngang/
/foreldrepengesoknad/
/foreldrepengesoknad-api/
/fp-engangsstonad/
/svangerskapspengesoknad/
/fp-infotrygd-svangerskapspenger/
/fpsak-metrics/
/vtp/
/fpsak-autotest/
/autotest-dokumentgenerator/
/fp-felles/
/fp-nare/
/fp-uttak/
/svp-uttak/
/fp-tidsserie/
/fp-prosesstask/
/fp-kontrakter/
/fbrm/
/familie-jms-integrasjon/
/legacy-avhengigheter/
/fp-konfig/
/fp-abac/
/boot-cluster-conditionals/
